*{
    padding: 0;
    margin: 0; 
}
body{
    overflow-x: hidden;
}
.mycontainer{
    
    background: #f8f8f8;
    font-size: 13px;
}

.top{
    height: 26px;
}

.main{
    width: 1200px;
    margin:0 auto;
    line-height: 26px;
    color: #999;
}
.main .left{
    float: left;
}

.main .left a{
    color: #999;
}

.main .left a:hover{
    color: #c00;
}

.main .left span,a{
    margin-right: 5px;
}

.main .right1{
    float:right;
}

.main .right1 a{
    color: #999;
}

.main .right1 a:hover{
    color: #c00;
}

.main .right1 span,a{
    margin-left: 5px;
    color: #999;
}

.main .right1 .ceo{
    color: #c00;
}

.main .right1 .my{
    background: url("../images/public-24.png") no-repeat -98px 8px;
    padding-left: 15px;
}

.main .right1 .shouji{
    background-color: #c00;
    color:#fff;
    padding-top: 0 5px;
    border-radius:2px;
}

.main .right1 .cart{
    background: url("../images/public-24.png") no-repeat -18px 4px;
    padding-left: 15px;
}

.main .right1 .pre{
    background: url("../images/public-24.png") no-repeat -58px 4px;
    padding-left: 19px;
}

.main .right1 .web{
    background: url("../images/public-24.png") no-repeat -81px 4px;
    padding-left: 15px;
}

.main .right1 .kefu{
    background: url("../images/public-24.png") no-repeat -91px -261px;
    padding-left: 13px;
}
.main .right1 .ptdropdown{
    position: absolute;
    width: 79px;
    background: #fff;
    display: none;
}

.main .right1 .ptdropdown ul{
    list-style-type: none;
}

.main .right1 .pingtai{
    padding: 5px;
    margin-left: 0;
}

.banner1{
    width: 1536px;
    overflow: hidden;
}

.banner1 img{
    display: block;
    margin-left: -220px;
}

.header{
    height: 125px;
}

.header .logo{
    float: left;
    margin-top: 30px;
}

.header .adv{
    float: left;
    margin-top: 30px;
    margin-left: 15px;
}

.header .search{
    float: left;
    margin-top: 30px;
    margin-left: 25px;
    width: 540px;
}

.header .search .top{
    height: 32px;
    border:3px solid #c00;
}

.header .search-form{
    width: 440px;
    line-height: 16px;
    padding: 5px;
    border:none;
}

.header .search-form:focus{
    outline: none;
}

.header .search-btn{
    width: 85px;
    height: 28px;
    line-height: 32px;
    text-align: center;
    border:0;
    font-size: 16px;
    color: #fff;
    background: #c00;
    cursor: pointer;
    float: right;
}

.header .search .bottom{
    widows: 540px;
    height: 18px;
    padding-top:5px; 
}

.header .search .bottom ul{
    list-style-type: none;
}

.header .search .bottom ul li{
    float: left;
    margin-right: 3px;
    line-height: 18px;
}
.header .search .bottom a{
    color: #999;
}

.header .search .bottom a:hover{
    color: #c00;
}
.header .youhui{
    float: right;
    margin-top: 30px;
}
/*左侧导航*/
.ppt{
    height: 34px;
    background: #900;
}

.ppt .div1{
    height: 34px;
    overflow: hidden;
    background: #900;
    color: white;
    margin-left: -12px;
}
.ppt .div1 ul{
    width: 1200px;
    margin:0 auto;
    list-style-type: none;

}
.ppt .div1 ul li{
    float: left;
    line-height: 34px;
    margin-left: 20px;
    cursor: pointer;
    
}
.ppt .banner{
    background: #ce171f;
    width: 150px;
    text-align: center;
    margin-left: 6px!important;
}
.ppt .div2{
    width: 1212px;
    height: 470px;
    margin: 0 auto;
    position: relative;
    margin-left: 0px; 
    
}
.ppt .div3{
    width: 150px;
    height: 470px;
    background: #fff;
    border-left:1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
}
.ppt .div3 ul{
   
    list-style-type: none;

}
.ppt .div3 ul li{
   padding-left: 15px;
   line-height: 30px;
   border-bottom: 1px solid #ccc;
}

.ppt .div3 ul li:last-child{
    border-bottom: none;
 }

.ppt .div3 ul li span{
   color: #333; 
}

.ppt .div3 li.menu2:hover{
    border-left:2px solid #ce171f;
}

.ppt .div3 .nav1{
    width: 14px;
    height: 20px;
    display: inline-block;
    background: #f00;
    margin-right: 10px;
    vertical-align: middle;
    background: url("../images/public-24.png") -73px -260px;
}

.ppt .div3 .nav2{
    width: 14px;
    height: 20px;
    display: inline-block;
    background: #f00;
    margin-right: 10px;
    vertical-align: middle;
    background: url("../images/public-24.png") 2px -100px;
}
.ppt .div3 .nav3{
    width: 14px;
    height: 20px;
    display: inline-block;
    background: #f00;
    margin-right: 10px;
    vertical-align: middle;
    background: url("../images/public-24.png") -16px -102px;
}
.ppt .div3 .nav4{
    width: 14px;
    height: 20px;
    display: inline-block;
    background: #f00;
    margin-right: 10px;
    vertical-align: middle;
    background: url("../images/public-24.png") -37px -100px;
}
.ppt .div3 .nav5{
    width: 14px;
    height: 20px;
    display: inline-block;
    background: #f00;
    margin-right: 10px;
    vertical-align: middle;
    background: url("../images/public-24.png") -79px -100px;
}

.ppt .div3 .menuItemTitle{
    float: left;
    width: 80px;
    text-align: right;
}

.ppt .div3 .menuItemTitle h4{
    font-size: 13px;
}

.ppt .div3 .menuItemCon{
    float: left;
    width: 280px;
    padding-left:30px;
    border-bottom: 1px dotted #ccc;
}

.ppt .div3 .menuItemCon a{
    display: inline-block;
}

.ppt .div3 .menuBottom{
    width:85px;
    height: 470px;
    background:#f2f2f2;
    float: left;
    position: absolute;
}
.ppt .div3 .menuRight{
    position: absolute;
    z-index: 1;
}

.ppt .right{
    width: 620px;
    height: 470px;
    background: #eee;
    position: absolute;
    top: 0;
    left: 150px;
    color: black;
    display: none;
    z-index: 2;
    
}
.ppt .right .right-left{
    height: 470px; 
    width: 400px;
    float: left;
    background: #fff;
    position: relative;
}

.ppt .right .right-left .active{
    margin-right: 30px;
}

.ppt .right .right-left a{
    margin-right: 10px;
}

.ppt .right .right-right{
    width: 220px;
    height: 470px;
    float: left;
}

.ppt .right .right-right img{
    display: block;
    float: right;
}

/*幻灯片设计*/
.mycarousel {
    height : 470px;
}
.mycarousel .carousel {
    width: 1050px;
    float: right;
    height: 470px;
    position: relative;
    
}
.mycarousel .carousel .window{
    height: 470px;
    width: 1050px;
    overflow: hidden;
    position: relative;
}
.mycarousel .carousel .image_reel {
    position: absolute;
    left: 0;
    top: 0;
    width: 1050px;
    font-size:0;
}

.mycarousel .carousel .paging {
    position: absolute;
    width: 150px;
    height: 50px;
    bottom: 0px;
    right: 50%;
    margin-right: -75px;
    z-index: 1;
    text-align: center;
    line-height: 40px;
    display: none;
}

.mycarousel .carousel .paging a {
    text-decoration: none;
    color: #fff;
    padding: 0 5px;
}

.mycarousel .carousel .paging a:hover {
    font-weight: bold;
}

.mycarousel .carousel .paging a.active {
    background: #920000;
    font-weight: bold;
    border:1px solid #610000;
    border-radius: 3px;

}

.mycarousel .right-adv{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 190px;
    height: 470px;
}

.mycarousel .right-adv .img{
    margin-bottom: 1px;
    display: none;
}

.mycarousel .right-adv img{
    display: block;
}

/*content开始*/
.content{
    margin-top:10px;
}
.contentFirst{
    height: 500px;
    width: 1200px;
}
.indexTabBox{
    height: 500px;
    width: 920px;
    float: left;
}

.indexTabBoxTop{
    height: 38px;
}

.indexTabBoxTop ul{
    list-style-type: none;
}

.indexTabBoxTop ul li{
    float: left;
    width: 184px;
    line-height: 38px;
    color: #666;
    font-size: 16px;
    text-align: center;
    background: #f9f9f9;
    border:1px solid #ececec;
    border-top:2px solid #ececec;
}

.indexTabBoxTop ul li.active{
    background: #fff;
    cursor: pointer;
    color: #c00;
    border-top-color:#c00;
}

.indexTabBoxBottom{
    height: 460px;
    background: #fff;
}
.indexTabBoxBottom .indexTabCon{
    width: 910px;
    margin:0 2px;
    padding: 10px 0;
    display: none;
}

.indexTabBoxBottom .indexTabCon ul{
    list-style-type: none;
}

.indexTabBoxBottom .indexTabCon ul li{
    float: left;
    width: 182px;
    margin-top: 9px;
}

.indexTabBoxBottom .indexTabPic{
    position: relative;
    width: 160px;
    
}

.indexTabBoxBottom .Tag{
    width: 45px;
    height: 55px;
    text-align: center;
    position: absolute;
    top: 0;
    right: -22px;
    color: #fff;
    background: url("../images/TagBg.png") no-repeat;
}

.indexTabBoxBottom .Tag span{
    display: inline-block;
    width: 43px;
    height: 28px;
    margin-top: 5px;
    font-size: 12px;
    line-height: 18px;
}

.indexTabBoxBottom .indexTabTit{
    width: 170px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.indexTabBoxBottom .indexTabTit a{
    color: #666;
}

.indexTabBoxBottom .indexTabPrice{
    color: #c00;
}

.indexTabRight{
    height: 500px;
    width: 270px;
    float: right;
}

.indexTabRight .indexTabNew{
    height: 140px;
}

.indexTabRight .indexTuanBox{
    height: 157px;
    background: rgb(112, 205, 228);
    margin-top: 10px;
}
.indexTabRight .indexAdFocus{
    height: 178px;
    margin-top: 10px;
    background: #ccc;
}

.indexTabRight .indexTabNewNav{
    height: 38px;
    text-align: center;
}

.indexTabRight .indexTabNewNav ul{
    list-style-type: none;
}

.indexTabRight .indexTabNewNav ul li{
    float: left;
    width: 134px;
    height: 38px;
    line-height: 38px;
    color: #666;
    font-size: 16px;
    text-align: center;
    background: #f9f9f9;
    border:1px solid #ececec;
    border-top:2px solid #ececec;
}

.indexTabRight .indexTabNewNav ul li.active{
    background: #fff;
    cursor: pointer;
    color: #c00;
    border-top-color:#c00;
}

.indexTabRight .indexTabNewCon{
    height: 105px;
    background: #fff;
    display: none;
}

.indexTabRight .indexTabNewCon ul{
    list-style-type: none;
}

.indexTabRight .indexTabNewCon ul li{
    float: left;
    width: 114px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 28px;
    margin-top: 5px;
    margin-left: 10px;
}

.indexTabRight .indexTabNewCon ul li a{
    color: #666;
}

.indexTabRight .indexTabNewCon ul li a:hover{
    text-decoration: underline;
    color: #c66;
}

/*右侧上方第一个幻灯片*/
.indexTuanBox .carousel {
    position: relative;
    width: 270px;
    height: 157px;
}

.indexTuanBox .window {
    width: 270px;
    height: 157px;
    overflow: hidden;
    position: relative;
}

.indexTuanBox .image_reel {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0;
}

.indexTuanBox .image_reel img{
    float: left;
}

.indexTuanBox .paging {
    position: absolute;
    width: 190px;
    height: 40px;
    z-index: 100;
    margin-top: -40px;
    text-align: left;
    line-height: 40px;
    display: none;
}

.indexTuanBox .paging a {
    text-decoration: none;
    color: #fff;
    background: #333;
    padding: 0 5px;
    border-radius: 3px;
}

.indexTuanBox .paging a:hover {
    font-weight: bold;
}

.indexTuanBox .paging a.active {
    background: #920000;
    font-weight: bold;
    border:1px solid #610000;
    border-radius: 3px;

}

/*右侧上方第二个幻灯片*/
.indexAdFocus .carousel {
    position: relative;
    width: 270px;
    height: 178px;
}

.indexAdFocus .window {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.indexAdFocus .image_reel {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0;
}

.indexAdFocus .image_reel img{
    float: left;
}

.indexAdFocus .paging {
    position: absolute;
    width: 190px;
    height: 40px;
    z-index: 100;
    margin-top: -40px;
    text-align: left;
    line-height: 40px;
    /*display: none;*/
}

.indexAdFocus .paging a {
    text-decoration: none;
    color: #fff;
    background: #333;
    padding: 0 5px;
    border-radius: 3px;
   
}

.indexAdFocus .paging a:hover {
    font-weight: bold;
}

.indexAdFocus .paging a.active {
    background: #920000;
    font-weight: bold;
    border:1px solid #610000;
    border-radius: 3px;

}